body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
header{
    border: 1px solid red;
    display: flex;
    background-color: rgb(255, 0, 0);
    
}
a { color:red; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
main{
    padding: 20px;
}
footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}
figcaption{
    color: red; }
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
strong{ 
    color: red;
     }

h2{
    color: red;
}
a{
    color: rgb(169, 0, 0);
}
a:hover{
    color: red;
}
figure.saci{
    display: flex;
    align-items:start;
    flex-direction:row;
}
table{
    width: 750px;
    border: 1px solid red; 
    -webkit-box-shadow: 3px 0px 25px -4px red;
    -moz-box-shadow: 3px 0px 25px -4px red;
    box-shadow: 3px 0px 25px -4px red;
    
}
th{
    color: white;
    background-color: red;
    padding: 5px;
    margin: 5px;
    
}
tr{
    
}
td{
    background-color: rgba(211, 211, 211, 0.604);
    padding: 10px;
    color: red;
    border: 1px solid red;
 
}

table tbody tr:hover td {
    background-color: red;
    color: white;
}
figure.torcida{
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
}

ul.rodape{
    display: flex;
 
}
.redes{
    padding: 10px;
    margin-top: 3.2%;
}
h2.clube{
    margin-left: 35%;
    margin-right: 0;
}
figure.imagem_rodape{
    margin-left: 80%;
}